* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(10, 209, 164), rgb(11, 176, 181));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.language-container {
    margin-top: 10px;
}

.language-link {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

.register-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.w3-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.w3-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(10, 209, 164);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.w3-button:hover {
    background-color: rgb(11, 176, 181);
}

/* Additional styles for the "Already registered?" message */
.register-container p {
    margin-top: 10px;
    color: #333;
}

.register-container a {
    color: rgb(11, 176, 181);
    text-decoration: none;
    font-weight: bold;
}

.register-container a:hover {
    text-decoration: underline;
}
