*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    position: absolute;
    top: 0;
    right: 20px;
}
body{
    background: linear-gradient(45deg, rgb(10, 209, 164), rgb(11, 176, 181));
    margin-top: 20px;
}

.w3-a:hover{
    color: blue;
}

.w3-a:active{
    color: blue;
}

.button{
    position: absolute;
    top: 0;
    left: 10px;
}

.homeP{
    margin: 10px auto;
    width: 170px;
    margin-top: 40px;
}

.w3-select{
    width: 300px;
    margin: 0 auto;
    display: block;
    text-align: center;
}