* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(10, 209, 164), rgb(11, 176, 181));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.user-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.options-container {
    margin-top: 20px;
}

.option-link {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(10, 209, 164);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-link:hover {
    background-color: rgb(11, 176, 181);
}

.logout-link {
    color: red;
}